.spinner-container {
  .spinner {
    margin-bottom: 15px;
  }
  .spinner-grow {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1.5px;
  }
}
.alert {
  .spinner-border {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 8px;
  }
  .info-icon {
    margin-right: 8px;
  }
}
// .spinner {
//   margin-bottom: 15px;
// }
// .spinner-grow {
//   width: 1.5rem;
//   height: 1.5rem;
//   margin: 1.5px;
// }
