.container-content {
  .border-left {
    border-left: 1px solid #dee2e6;
  }
  .border-right {
    border-right: 1px solid #dee2e6;
  }
  .new-edit {
    background-color: #dee2e645;
  }
  .card-mb {
    margin-bottom: 5rem;
  }
}
